@model IndexModel;

@{
    ViewData["Title"] = "Home Page";
    var products = Model.Products;
}

<div class="text-center">
    <table>
        <tr>
            <th>ID</th>
            <th>Название</th>
            <th>Описание</th>
            <th>Цена за штуку</th>
            <th>Количество</th>
            <th>Действие</th>
        </tr>
        @for (int i = 0; i < products.Count; i++)
        {
            <tr>
                <td>@products[i].ID</td>
                <td>@products[i].Category</td>
                <td>@products[i].Description</td>
                <td>@products[i].Price</td>
                <td>@products[i].Quantity</td>
            </tr>
        }
    </table>
</div>